:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: beige;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 700;
  color: white;
  text-decoration: inherit;
  box-sizing: border-box;
}
a:hover {
  color: #535bf2;
}

body {
  box-sizing: border-box;
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(45deg, #651fff, #00e5ff, #ff4081);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  padding: 0;
}

/* HEADER */

header {
  display: flex;
  justify-content: space-around;
  height: 61px;
  padding-top: 40px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px 60px;
  padding: 32px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  padding: 20px 15px;
  height: 579px;
  background-color: #000000;
}

.title {
  color: white;
  font-weight: 500;
  font-size: medium;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.movie-img {
  background-size: cover;
  background-repeat: no-repeat;
  width: 382px;
  height: 550px;
}

.genresList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.genreItem {
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px 5px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 3px 8px;

  &:hover {
    background-color: transparent;
    color: black;
  }
}

.form {
  position: relative;
  width: 730px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.input {
  padding-left: 70px;
  width: 730px;
  height: 63px;
  border-radius: 19px;
  background-color: #303030;
  color: white;
  font-size: 30px;
  border: none;
  outline: none;
}

.submitBtn {
  position: absolute;
  left: -5px;
  background-color: transparent;
  border: none;
  font-size: 30px;
  cursor: pointer;
}

.clearBtn {
  position: absolute;
  right: 5px;
  background-color: transparent;
  color: white;
}

.paginator {
  display: flex;
  justify-content: center;
}

.paginator-btn:hover,
.paginator-btn:focus {
  background-color: lightcoral;
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
  }

  .item {
    width: 250px;
    height: 450px;
  }

  .movie-img {
    width: 259px;
  }

  .genresList {
    max-width: 300px;
    margin: 0 auto;
  }

  .genreItem {
    padding: 2px 3px;
  }

  .input {
    box-sizing: border-box;
    width: 300px;
  }

  .form {
    width: 300px;
  }

  .paginator {
    width: 100vw;
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    padding: 15px;
  }

  .item {
    width: 300px;
  }

  .movie-img {
    width: 260px;
  }
}
